[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
matplotlib = "*"
tensorflow-datasets = "*"

[dev-packages]
black = "*"
pytest = "*"
pylama = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
