[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
tensorflow-datasets = "*"
tensorflow = "*"

[dev-packages]
black = "*"
pytest = "*"
pylama = "*"
rope = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
